* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: sans-serif;
    font-size: 24px;
}

main {
    text-align: center;
}

#user-input {
    width: 200px;
    font-size: 24px;
    padding: 10px 20px;

    border-radius: 2px;
    outline: none;
    border-width: 1px;
    background-color: hsl(200, 8%, 98%);
}

#user-input:focus, #user-input:active {
    background-color: hsl(200, 50%, 95%);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
